/*@import 'tailwindcss';*/

@source '../../vendor/laravel/framework/src/Illuminate/Pagination/resources/views/*.blade.php';
@source '../../storage/framework/views/*.php';
@source '../**/*.blade.php';
@source '../**/*.js';

@theme {
    --font-sans: 'Instrument Sans', ui-sans-serif, system-ui, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji',
        'Segoe UI Symbol', 'Noto Color Emoji';
}


body{
    margin: 0;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    background-color: beige;
}

header, footer{
    background-color: #cbd5e0;
    padding: 12px 8px;
}

header ul{
    display: flex;
    list-style: none;
    gap: 16px;
}
main {
    flex: 1;
    margin: 0 10%;
}
